<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Weather Report</title>
</head>
<!-- result , temperature, feelslike, humidity, report -->
<body>
    <div class="container">
        <div class="header">
            <h1>Weather Report</h1>
        </div>
        <div class="result-area">
            <div>
                <table>
                    <tr>
                        <td>Place</td>
                        <td><%= result %></td>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td><%= temperature %></td>
                    </tr>
                    <tr>
                        <td>Feels Like</td>
                        <td><%= feelslike %></td>
                    </tr>
                    <tr>
                        <td>Humidity</td>
                        <td><%= humidity %></td>
                    </tr>
                    <tr>
                        <td>Weather</td>
                        <td><%= report %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>